---
layout: index
title: Cantemir Debate Club
tagline: O comunitate de elevi, studenti si profesori care au gasit in dezbaterile academice o platforma placuta de exprimare prin intermediul ARDOR.
css:
js: sliders.js
keywords: cantemir, debate, club, ardor, bucuresti, cncv
canonical: https://cantemirdebate.club
---
{% include JB/setup %}

<link rel="apple-touch-icon" sizes="57x57" href="nav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="nav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="nav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="nav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="nav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="nav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="nav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="nav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="nav/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="nav/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="nav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="nav/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="nav/favicon-16x16.png">
<link rel="manifest" href="nav/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="nav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
		  <li data-target="#carousel-slider" data-slide-to="3"></li>		
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="{{ BASE_PATH }}/assets/images/slider/cdx.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">Cantemir</span> Debate Extravaganza</h3>
                      <h5 class="slide-text animated fadeIn">Most inovative Romanian debate tournament.</h5>
                      <a href="https://cantemirdebate.club/Cantemir-Debate-Extravaganza" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/nextgen.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">NextGen</span> Open</h3>
                      <h5 class="slide-text animated fadeIn">Tournament for beginner debaters.</h5>
                      <a href="https://cantemirdebate.club/Next-Gen" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/cedebepe.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">CeDe </span> BePe</h3>
                      <h5 class="slide-text animated fadeIn">Tournament for university students.</h5>
                      <a href="https://cantemirdebate.club/cedebepe" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>
		  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/springcamp.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">Spring </span> Camp</h3>
                      <h5 class="slide-text animated fadeIn">Debate bootcamp.</h5>
                      <a href="https://cantemirdebate.club/spring-camp" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>	
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->


  <div class="mb-60"></div>
	   <div id="features" class="container">
	<!-- SERVICES -->
            <div class="sub-title">
              <span>An NGO about nonformal education</span>
            </div>
            <div class="row">
              <!-- Start Service Icon 1 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cogs"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Education</a></h4>
                    <p>
                      Since 2012, we provide debate and public speaking trainings and club meetings for the alumni of "Cantemir Vodă" National College. Within one year or less they can speak for 8 or more minutes on controversial topics of general importance and within 4 years, they usually get admitted to top international universities, one of the reasons being the personality they develop because of debating.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 1 -->

              <!-- Start Service Icon 2 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cubes"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Community</a></h4>
                    <p>
                      Yearly, we bring together more than 30 debate clubs and more than 1600 highschoolers and university students to debate and share experiences at one of our 4 traditional events: CDX, NextGen, CeDeBePe and Spring Camp. They get to research and think about topical subjects, debating in teams of three speakers.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 2 -->

              <!-- Start Service Icon 3 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-tachometer"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Results</a></h4>
                    <p>
                      Our students are among the most persuasive public speakers or debaters in Romania, in the last 6 years of activity winning 10 national tournaments. Moreover, some were selected to take part in the National Team of Romania for WSDC, the most prestigious worldwide highschool debate tournament.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 3 -->

              <!-- Start Service Icon 4 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Civic education</a></h4>
                    <p>
                      Through the nature of our training, we aim to build characters that focus on logic and facts, influencing them to be the next pillars of our society and developing key traits such as persuasion, team work, leadership and responsibility which are seldomly thought in the Romanian pre-universitary education system, but are essential to the evolution of our society.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 4 -->

              <!-- Start Service Icon 5 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-flash"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Volunteership</a></h4>
                    <p>
                      We're a team of university students that share their know-how as certified trainers by ARDOR, the nationwide NGO regarding debate and public speaking. Through ARDOR and the sustained relationship with nationally recognized professors of "Cantemir Vodă" National College, we aim to share our knowledge and prepare the next generation for any challenge.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 5 -->

              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-hand-pointer-o"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Get involved</a></h4>
                    <p>
                      Do you want to know more about us? Like our Facebook page to stay updated, as we post regularly about our events and activities. We recruit new members at the beginning of every school year. Get involved in the most fun way of learning!
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->
            </div>
	    </div>

      <div class="mb-60"></div>
      <div id="counter">
        <div class="container">
          <h4 class="sub-title"></h4>
          <div class="row count-to-sec">
            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-download"> </i></span>
              <h3 class="timer count-value" data-to="80" data-speed="1000">80</h3>
              <hr class="width25-divider">
              <small class="count-title">Trainings</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-user"> </i></span>
              <h3 class="timer count-value" data-to="1600" data-speed="1000">1600</h3>
              <hr class="width25-divider">
              <small class="count-title">Students reached</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-desktop"> </i></span>
              <h3 class="timer count-value" data-to="2100" data-speed="1000">2100</h3>
              <hr class="width25-divider">
              <small class="count-title">Speeches held</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-rocket"> </i></span>
              <h3 class="timer count-value" data-to="15" data-speed="1000">15</h3>
              <hr class="width25-divider">
              <small class="count-title">Debate tournaments</small>
            </div>

          </div>
        </div>
      </div>

      <div class="mb-60"></div>

	 <!-- Content Area Start -->
    <div id="content">
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="heading-title text-center">our team</h2>
            </div>
            <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/mihnea.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Part of the 2nd generation of debaters the club produced, about 6 months short of being a founding member himself. Nonetheless, his overachieving personality has pushed through the organization of more than 7 competitions and the creation of the NGO.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/savulescu.mihnea.9"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Mihnea Andrei Săvulescu
                      </h2>
                      <p>
                        President
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/augustin.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">An entrepreneurial and adventurous personality. He loves public speaking and reading books. He studies Law at the University of Bucharest.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/augustin.turcan"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Augustin Țurcan
                      </h2>
                      <p>
                        Executive officer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/flori.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Thinks that debating and public speaking are the best forms of non-formal education that she could’ve practiced in high school, idea sustained by her activity as a competitive debater since 2013 and as a trainer since 2015. She is studying Security Studies at the University of Bucharest and has a passion for criminology and forensic science.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/florentinaateodora"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Florentina Teodora Mihalcea
                      </h2>
                      <p>
                        Debate club coordinator & Trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->

		    <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/horia.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">One of the founding members of Cantemir Debate Club. He's a kind and energetic person, always pointing everyone towards the bright side of things. He loves clubbing and gaming and has a longtime passion for fantasy novels and martial arts. He is studying to become a Computer Engineer and is considering opening a business of his own.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/horia.velciu"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Horia Velciu
                      </h2>
                      <p>
                        Trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/cristea.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Studies International Relations and Security at the University of Sheffield and he loves football. When he is not running training for the Sheffield Debating Society he can be found either in the library or on the football pitch.">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/cosmin.cristea.5"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Cosmin Cristea
                      </h2>
                      <p>
                        Founding Member
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/said.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Loving things that pick his brain, training for Cantemir Debate Club is one of his favourite pastimes. Even though he's studying Systems Engineering, he considers public speaking to be an essential skill for a well rounded person.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/said.sakuh"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Said Sakuh
                      </h2>
                      <p>
                        Junior trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->

		  
		  	    <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/filip.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Pragmatic and energetic, always looking for the next intellectual challenge. He studies law at the Law Faculty of the University of Bucharest.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/profile.php?id=100005079074715"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Filip Ungureanu
                      </h2>
                      <p>
                        Junior trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/bosi.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Passionate about the human mind and is never tired of learning about people and social interraction. He is studying psychology at the university "Titu Maiorescu".</p>
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/andrei.bosoanca.1"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Andrei Bosoancă
                      </h2>
                      <p>
                        Junior trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/defi.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Currently studying Politics & Philosophy at the University of Sheffield. After debating in both national and international competitions for 4 years during high school, she has decided to continue developing this skill in university, and is now a proud member of Sheffield Debating Society. She has a passion for old music and minimalist architecture, and some would say she is a good cook.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/andreeahuidan318"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Andreea Luiza Huidan
                      </h2>
                      <p>
                        Junior trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->



		  	    <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/cristinel.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">A young guy who thinks that debating was the most important hobby he could have ever had. It helped him become a better student and now he offers this opportunity to highschool students as a trainer. Currently studying International Relations and Economy at Academia de Studii Economice Bucuresti.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/cristi.rotaru.988"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Cristinel George Rotaru
                      </h2>
                      <p>
                        Junior trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/luta.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                         <p class="content-white">A very sociable and high spirited person that loves spending her time working with other people. Currently a 12th grade student of Cantemir Voda National College.</p>
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/ana.cafeluta"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Ana Luță
                      </h2>
                      <p>
                        Junior trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/tedi.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">He is the last man standing of his generation and one of the best debaters this club produced. His work ethic and determination helped him win 2 national competitions while also being awarded as a top 10 speaker several times. His involvement in debate didn’t stop at learning how to build arguments, Tedy also having an important part when it comes to the organization of our competitions, trying to make them become a better experience for the debaters.</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/teodor.abeaboeru"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Teodor Abeaboeru
                      </h2>
                      <p>
                        Junior trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->
             



    <div class="full-width">
      <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11393.602130022513!2d26.1128451!3d44.4454576!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd4bef7cfd028f09!2sCantemir+Vod%C4%83+National+College!5e0!3m2!1sen!2sro!4v1539502043582">
            </iframe>
          </div>

    <div class="mb-60"></div>
      <!-- CONTACT FORM -->
	<div class="container">
	<div class="row">
          <div class="col-md-8">
            <h3 class="title-head text-center">Contact us</h3>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Name" required data-error="Please enter your name.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="E-mail" required data-error="Please enter your e-mail.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter a subject.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="Message" required data-error="Please enter a message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h4 class="contact-info-title">Contact information</h4>
            <div class="contact-info">
              <address>
							<i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
							Colegiul Național „Cantemir Vodă”
		      					<br>
		      					Strada Viitorului 60
							<br>
							Sector 2, București
						</address>
               		 <div class="tel-info">
               		 <a href="tel:+40745354741"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>+40 745 354 741</a> 
             </div>
              <a href="mailto:contact@cantemirdebate.club"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i> contact@cantemirdebate.club</a>
              		 <!-- <a href="https://antoniotrento.github.io"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>https://antoniotrento.github.io</a> -->
              {% include social-block.html %}
            </div>
          </div>

        </div>
	</div>



<!-- Content area end -->
</div>
