---
layout: index
title: Cantemir Debate Club
tagline: O comunitate de elevi, studenti si profesori care au gasit in dezbaterile academice o platforma placuta de exprimare prin intermediul ARDOR.
css:
js: sliders.js
keywords: cantemir, debate, club, ardor, bucuresti, cncv
canonical: https://cantemirdebate.club
---
{% include JB/setup %}

<link rel="apple-touch-icon" sizes="57x57" href="nav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="nav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="nav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="nav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="nav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="nav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="nav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="nav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="nav/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="nav/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="nav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="nav/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="nav/favicon-16x16.png">
<link rel="manifest" href="nav/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="nav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
		  <li data-target="#carousel-slider" data-slide-to="3"></li>		
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="{{ BASE_PATH }}/assets/images/slider/cdx.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">Cantemir</span> Debate Extravaganza</h3>
                      <h5 class="slide-text animated fadeIn">Cel mai inovativ turneu de dezbateri românesc.</h5>
                      <a href="https://cantemirdebate.club/Cantemir-Debate-Extravaganza" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/nextgen.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">NextGen</span> Open</h3>
                      <h5 class="slide-text animated fadeIn">Turneu pentru începători.</h5>
                      <a href="https://cantemirdebate.club/Next-Gen" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/cedebepe.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">CeDe </span> BePe</h3>
                      <h5 class="slide-text animated fadeIn">Turneu pentru studenți.</h5>
                      <a href="https://cantemirdebate.club/cedebepe" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>
		  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/springcamp.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">Spring </span> Camp</h3>
                      <h5 class="slide-text animated fadeIn">Tabără de dezbateri și vorbit în public.</h5>
                      <a href="https://cantemirdebate.club/spring-camp" class="btn btn-lg btn-default-filled animated fadeInUp">Read more</a>
                    </div>
                  </div>	
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->


  <div class="mb-60"></div>
	   <div id="features" class="container">
	<!-- SERVICES -->
            <div class="sub-title">
              <span>Un ONG despre educație non-formală.</span>
            </div>
            <div class="row">
              <!-- Start Service Icon 1 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cogs"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Educație</a></h4>
                    <p>
		Din 2012, învățăm elevii de la Colegiul Național „Cantemir Vodă” dezbateri și vorbit în public. Într-un an, ei reușesc să fie persuasivi pentru cel puțin 8 minute, explicând subiecte controversate și de importanță actuală. Când termină liceul, putem spune că dezbaterile au fost un factor cheie in admiterea lor la universități de top din străinătate, datorita personalității pe care și-au dezvoltat-o pe această cale.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 1 -->

              <!-- Start Service Icon 2 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cubes"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Comunitate</a></h4>
                    <p>
			    Anual, aducem împreună peste 30 cluburi de dezbateri din întreaga țară, deci peste 1600 de elevi, să dezbată și să schimbe experiențe la una din cele 4 evenimente tradiționale: CDX, NextGen, CeDeBePe și Spring Camp. Au astfel ocazia să se documenteze despre subiecte de actualitate și să le dezbată în echipe de trei vorbitori.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 2 -->

              <!-- Start Service Icon 3 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-tachometer"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Rezultate</a></h4>
                    <p>
                      Elevii noștri sunt printre cei mai persuasivi vorbitori români, în ultimii 6 ani de activitate au câștigat 10 turnee naționale. Mai mult decât atât, unii fac parte din Lotul Național de Dezbateri Academice al României, care participă la WSDC, cea mai prestigioasă competiție mondială de dezbateri de liceu.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 3 -->

              <!-- Start Service Icon 4 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Pregătire civică</a></h4>
                    <p>
		Prin natura cursurilor noastre, avem ca obiectiv să construim caractere care se concentrează pe logică si adevăr,  influențându-i să fie următorii piloni de susținere ai societății noastre, dezvoltând calități cheie ca persuasiunea, munca în echipă, leadership și responsabilitate, lucruri care sunt insuflate prea rar în învățământul preuniversitar românesc, dar care sunt cheie pentru evoluția societății noastre.
			  
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 4 -->

              <!-- Start Service Icon 5 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-flash"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Voluntariat</a></h4>
                    <p>
			    Suntem o echipă de studenți care dau mai departe cunoștiințele lor de traineri certificați de ARDOR, ONG-ul național de dezbateri, oratorie și retorică. Prin ARDOR și relația noastră susținută cu cadre didactice recunoscute la nivel național ale Colegiului Național „Cantemir Vodă”, vrem să ne împărtășim cunoștiințele și să pregătim generația următoare pentru orice provocare.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 5 -->

              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-hand-pointer-o"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Implică-te</a></h4>
                    <p>
		Vrei să afli mai multe despre noi? Dă un like paginii noastre de Facebook, unde postăm în mod regulat despre activitatea noastră. Recrutăm elevi noi la începului fiecărui an școlar. Implică-te în cel mai distractiv mod de învățare!
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->
            </div>
	    </div>

      <div class="mb-60"></div>
      <div id="counter">
        <div class="container">
          <h4 class="sub-title"></h4>
          <div class="row count-to-sec">
            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-download"> </i></span>
              <h3 class="timer count-value" data-to="80" data-speed="1000">80</h3>
              <hr class="width25-divider">
              <small class="count-title">Training-uri</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-user"> </i></span>
              <h3 class="timer count-value" data-to="1600" data-speed="1000">1600</h3>
              <hr class="width25-divider">
              <small class="count-title">Participanți</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-desktop"> </i></span>
              <h3 class="timer count-value" data-to="2100" data-speed="1000">2100</h3>
              <hr class="width25-divider">
              <small class="count-title">Discursuri susținute</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-rocket"> </i></span>
              <h3 class="timer count-value" data-to="15" data-speed="1000">15</h3>
              <hr class="width25-divider">
              <small class="count-title">Turnee de dezbateri</small>
            </div>

          </div>
        </div>
      </div>

      <div class="mb-60"></div>

	 <!-- Content Area Start -->
    <div id="content">
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="heading-title text-center">our team</h2>
            </div>
            <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/mihnea.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				Face parte din a doua generație de debateri a acestui club, îl despart doar 6 luni de fondarea clubului, însă natura sa zeloasă l-a împins prin organizarea a peste 7 competiții și fondarea ONG-ului.
				</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/savulescu.mihnea.9"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Mihnea Andrei Săvulescu
                      </h2>
                      <p>
                        Președinte
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/augustin.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				  O personalitate anteprenorială și aventuroasă. Iubește să vorbească în public și să citească. Studiază Dreptul la Universitatea din București.
				 </p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/augustin.turcan"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Augustin Țurcan
                      </h2>
                      <p>
                        Vicepreședinte
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/flori.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				  Crede că dezbaterile și vorbitul în public sunt cele mai bune forme de educație non-formală pe care le-ar fi putut avea în liceu, idee susținută de activitatea ei de debater din 2013 și de trainer din 2015. Studiază Studii de Securitate la Universitatea din București și are o pasiune pentru criminologie.
			</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/florentinaateodora"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Florentina Teodora Mihalcea
                      </h2>
                      <p>
                        Coordonator și Trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->

		    <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/horia.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				Unul dintre membrii fondatori ai clubului. Este o persoana bună și energică, care trage mereu lumea de partea bună a lucrurilor. Iubește petrecerile și jocurile pe calculator, și are o veche pasiune pentru romanele de fantezie și artele marțiale. Studiază să devină un Inginer de Calculatoare și vrea să-și facă propria afacere.  
				</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/horia.velciu"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Horia Velciu
                      </h2>
                      <p>
                        Trainer
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/cristea.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				  Studiază Relații Internaționale și Securitate la Universitatea din Sheffield și iubește fotbalul. Când nu ține traininguri pentru Sheffield Debating Society îl poți găsi fie în bibliotecă, fie pe terenul de fotbal.
				  </p>
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/cosmin.cristea.5"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Cosmin Cristea
                      </h2>
                      <p>
                        Membru Fondator
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/said.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				Iubește lucrurile care iî excită creierul, așadar, să țină cursuri pentru Cantemir Debate Club este una dintre activitățile sale favorite. Chiar dacă studiază Ingineria Sistemelor, consideră că vorbitul în public este esențial pentru orice persoană echilibrată.
				</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/said.sakuh"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Said Sakuh
                      </h2>
                      <p>
                        Trainer Junior
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->

		  
		  	    <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/filip.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				  Pragmatic și energic, caută mereu urmatoarea provocare intelectuală. Studiază Dreptul la Universitatea din București.
				 </p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/profile.php?id=100005079074715"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Filip Ungureanu
                      </h2>
                      <p>
                        Trainer Junior
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/bosi.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				  Pasionat de intelectul uman și niciodată obosit să învețe despre oameni și interacțiuni sociale. Studiază Psihologia la Universitatea „Titu Maiorescu”.
				 </p>
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/andrei.bosoanca.1"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Andrei Bosoancă
                      </h2>
                      <p>
                        Trainer Junior
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/defi.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				  Studiază Politică și Filosofie la Universitatea din Sheffield. A decis ca dupa 4 ani de dezbateri la competiții naționale și internaționale, să continue acest lucru la facultate, fiind un membru mândru a Sheffield Debating Society. E pasionată de muzică veche și arhitectură minimalistă, iar unii ar spune despre ea că știe să gătească.
				  </p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/andreeahuidan318"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Andreea Luiza Huidan
                      </h2>
                      <p>
                        Trainer Junior
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->



		  	    <!-- Team Members 01 -->
            <div class="team-members mtb-50">
              <div class="sub-title">
                <span></span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/cristinel.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">
				  Un tânăr care este de părere că dezbaterile sunt cel mai important hobby pe care ar fi putut să-l aibă, căci l-au ajutat să fie un elev mai bun, așa că oferă această oportunitate liceenilor, ca trainer. Studiază Relatii Economice Internaționale la Academia de Studii Economice București.
				  </p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/cristi.rotaru.988"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Cristinel George Rotaru
                      </h2>
                      <p>
                        Trainer Junior
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/luta.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                         <p class="content-white">
				 O persoană foarte sociabilă și bine 
				 Ana is a very sociable and plină de viață care iubește să lucreze cu oamenii. Este clasa a 12-a în Colegiul Național „Cantemir Vodă”.</p>
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/ana.cafeluta"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Ana Luță
                      </h2>
                      <p>
                        Debater Senior
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Starts -->
                </div>

                <div class="col-sm-6 col-md-4">
                  <!-- Team Item Starts -->
                  <div class="team-item">
                    <figure class="team-profile">
                      <img src="{{ BASE_PATH }}/assets/images/team/tedi.jpg" alt="">
                      <figcaption class="our-team">
                        <div class="details">
                          <p class="content-white">Lorem ipsum.
				Ultimul om din generația sa, dar și unul dintre cei mai buni debateri produși de acest club. Perseverența și dedicația l-au ajutat să câștige două turnee naționale, dar și să fie unul dintre primii zece vorbitori de câteva ori. Implicarea sa in dezbaterri nu se oprește aici, el având un rol important in organizarea turneelor noastre, vrând să îmbunătățească experiența debaterilor.
				</p>
                          <hr class="small-divider border-white">
                          <div class="social">
                            <a class="facebook" href="https://www.facebook.com/teodor.abeaboeru"><i class="fa fa-facebook"></i></a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="info">
                      <h2>
                        Teodor Abeaboeru
                      </h2>
                      <p>
                        Debater Senior
                      </p>
                    </div>
                  </div>
                  <!-- Team Item Ends -->
                </div>
              </div>
            </div>
            <!-- End Team Members 01 -->
             



    <div class="full-width">
      <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11393.602130022513!2d26.1128451!3d44.4454576!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd4bef7cfd028f09!2sCantemir+Vod%C4%83+National+College!5e0!3m2!1sen!2sro!4v1539502043582">
            </iframe>
          </div>

    <div class="mb-60"></div>
      <!-- CONTACT FORM -->
	<div class="container">
	<div class="row">
          <div class="col-md-8">
            <h3 class="title-head text-center">Contact us</h3>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Nume" required data-error="Introdu un nume.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="E-mail" required data-error="Introdu un e-mail.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subiect" required data-error="Introdu un subiect.">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="Message" required data-error="Introdu un mesaj"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Trimite mesaj</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h4 class="contact-info-title">Informații de contact</h4>
            <div class="contact-info">
              <address>
							<i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
							Colegiul Național „Cantemir Vodă”
		      					<br>
		      					Strada Viitorului 60
							<br>
							Sector 2, București
						</address>
               		 <div class="tel-info">
               		 <a href="tel:+40745354741"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>+40 745 354 741</a> 
             </div>
              <a href="mailto:contact@cantemirdebate.club"><i class="fa fa-envelope-o icons cyan-color contact-info-icon"></i> contact@cantemirdebate.club</a>
              		 <!-- <a href="https://antoniotrento.github.io"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>https://antoniotrento.github.io</a> -->
              {% include social-block.html %}
            </div>
          </div>

        </div>
	</div>



<!-- Content area end -->
</div>
